
@mixin dummyBlock ($width: auto,$hight: auto,$background-color:white) {
  width: $width;
  height: $hight;
  background-color: $background-color;
}

//プロパティの幅
@mixin mainWidth {
  width: auto;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

//見出し文字サイズ　（h１...）
@mixin mainFontsize {
  display: block;
  color: #000;
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 0.3em;
  margin-bottom: -10px;
}

//文字サイズ
@mixin fontsize {
  text-align: left;
  font: normal normal normal 14px/35px Meiryo;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

//🔳の囲　（header、newsに使用）
@mixin box($width: auto,$hight: auto,) {
  width: $width;
  height: $hight;
  background-color: black;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

//画像
@mixin img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

//メディアクエリの画像
@mixin imgMeddia {
  width: 100%;
  height: 232px;
}

// ボタンのプロパティをまとめたmixin
@mixin buttonStyles {
  background-color: red;
  width: 100px;
  height: 50px;
}
