
@use "../mixin/mixin";

  //コンパニー
  #company {
    @include mixin.dummyBlock(100%, 600px, #F0F0F0);
    max-width: 1032px;
    margin: 0 auto; // marginで真ん中寄せにしたいなら「margin: 0 auto;」でOK
    display: flex;
    align-items: center;
    position: relative;

    .company_group {
      @include mixin.dummyBlock(55%, auto, #FFFFFF);
      display: flex;
      align-items: center;
      // padding-left: 62px; 「position: absolute」がかかっている場合はpaddingで位置調整せず、top、bottom、left、rightのいずれかで調整する。
      position: absolute;
      left: 0px;
      padding: 100px 8% 100px 6%;


      .company_growp_inner {
        h3 {
          @include mixin.mainFontsize;
        }

        span {
          @include mixin.fontsize;
          line-height: 86px;
          margin-top: 10px;
        }
        span::after {
          content: "";
          width: 40px;
          height: 1px;
          background-color: #000;
          display: block;
        }

        dl {
          margin-top: 43px;

          dt {
            @include mixin.fontsize;
            float: left;
            line-height: 30px;
          }

          dd {
            @include mixin.fontsize;
            padding-left: 43px;
            line-height: 30px;
          }
        }
      }

    }

    .company_image {
      position: absolute;
      //position: relative;はどこかにかけないといけない？
      //↑ position: relative;は親要素にかけてあげる！
      right: 0;
      width: 53%; // デザインでは53%にの幅になっていたので修正

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }

/* ここからメディアクエリ */
  @media screen and (max-width:900px) {
    #company {
      width: auto;
      position: static;
      flex-direction: column;
      margin: 80px 16px 0 16px;
      height: auto;

      .company_group {
        width: 100%;
        height: auto;
        padding: 40px 20px ;
        margin-bottom: 20px;
        position: static;

        .company_growp_inner {
          dl {
            dt {
              float: none;
            }

            dd {
              padding: 0;
              margin-left: 18px;
            }
          }
        }
      }

      .company_image {
        position: static;
        width: auto;

        img {
          width: 100%;
        }
      }
    }
  }
