
@use "../mixin/mixin";

  //コンパニー
  #company {
    @include mixin.dummyBlock(auto, auto, #F0F0F0);
    margin: 0 168px;
    display: flex;
    align-items: center;

    .company_group {
      @include mixin.dummyBlock(567px, 640px, #FFFFFF);
      display: flex;
      align-items: center;
      padding-left: 62px;


      .company_growp_inner {
        h3 {
          @include mixin.mainFontsize;
        }

        span {
          @include mixin.fontsize;
          line-height: 86px;
          margin-top: 10px;
        }
        span::after {
          content: "";
          width: 40px;
          height: 1px;
          background-color: #000;
          display: block;
        }

        dl {
          margin-top: 43px;
          dt {
            @include mixin.fontsize;
            float: left;
            line-height: 30px;
          }
          dd {
            @include mixin.fontsize;
            padding-left: 43px;
            line-height: 30px;
          }
        }
      }

    }

    .company_image {
      position: absolute;
      //position: relative;はどこかにかけないといけない？
      right: 200px;
      width: 40%;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }

/* ここからメディアクエリ */
  @media screen and (max-width:375px) {
    #company {
      width: auto;
      position: none;
      flex-direction: column;
      margin: 80px 16px 0 16px;

      .company_group {
        width: 100%;
        height: auto;
        padding: 40px 20px ;
        margin-bottom: 20px;

        .company_growp_inner {
          dl {
            dt {
              float: none;
            }
            dd {
              padding: 0;
              margin-left: 18px;
            }
          }
        }
      }

      .company_image {
        position: static;
        width: auto;

        img {
          width: 100%;
        }
      }
    }
  }
