
@use "../mixin/mixin";

footer {
  @include mixin.dummyBlock(auto, auto, #FFFFFF);
  padding-bottom: 20px;

  .footer_group {
    margin: 0 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    h5 {
      @include mixin.mainFontsize;
      margin: 0;
    }

    p {
      @include mixin.fontsize;
      margin: 0;
      line-height: normal
    }
  }

  span {
    margin: 0 168px;
    text-align: left;
    font: normal normal normal 12px/24px Meiryo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}


/* ここからメディアクエリ */
  @media screen and (max-width:900px) {
    footer {
      .footer_group {
        flex-direction: column;
        align-items: baseline;
        margin: 0;
        padding-left: 16px;

        p {
          margin-top: 10px;
        }
      }

      span {
        margin: 0 0 0 16px;
      }
    }
  }
