
@use "../mixin/mixin";

header {
  @include mixin.dummyBlock(auto, 80px, #F0F0F0);

   .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;

    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      h1 {
        @include mixin.mainFontsize;
        margin: 0;
        margin-left: 91px;
      }

      nav {

        ul {
          display: flex;
          list-style: none;

          li {
            margin-left: 30px;

            a {
              @include mixin.fontsize;
              text-decoration: none;
            }
          }
        }
      }
    }

  .materials{
    a {
      @include mixin.box(200px,80px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    }
  }
}

  /* ここからメディアクエリ */
  @media screen and (max-width:375px) {
    header {
      height: auto;
      .header-group{
          .wrapper {
          display: block;
          flex-direction: column;
          margin: 16px auto 15px 16px;

            h1 {
              margin-left: 0;
            }

            nav {
              ul {
                padding: 0;
                margin: 0;

                li:first-child{
                  margin: 0;
                }
              }
            }
          }

      .materials {
        a {
          display: none;
        }
      }
      }
    }
  }
