@use "../mixin/mixin";

  //ニュース
  #news {
    @include mixin.dummyBlock(auto, auto, #F0F0F0);
    @include mixin.mainWidth;
    margin: 120px auto 128px auto;

    h2 {
      @include mixin.mainFontsize;
    }

    span {
      @include mixin.fontsize;
      line-height: 72px;
    }
    span:after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: #000;
      display: block;
    }

    ul {
      display: flex;
      margin-top: 30px;
      margin-bottom: 0;
      list-style: none;
      padding: 0;

      li:first-child{
        border-left: 0;
        margin-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
      li {
        border-left: solid 1px #000;
        margin-left: 77px;
        padding-left: 20px;

        .time-group {
          time{
            @include mixin.fontsize;
          }

          span {
            @include mixin.box(60px,23px);
            font-size: 12px;
            padding: 4px;
          }

          span:after {
            content: none
          }
        }

      p {
      @include mixin.fontsize;
      margin-top: -18px;
      }
      }
    }
  }

/* ここからメディアクエリ */
  @media screen and (max-width:375px) {

    #news {
      margin: 80px auto 90px auto;

      ul {
        flex-direction: column;

        li {
          border-left: none;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

